/* 
    Created on : 27 juil. 2015, 21:07:58
    Author     : Mauyz
*/
#ctrlBox{
    -fx-background-color: lightslategrey;
    -fx-background-radius:15px
    

    }

#graphBtn{
    -fx-background-image:url("../img/buttonXi.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}

#endGraphBtn{
    -fx-background-image:url("../img/buttonXn.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#beginGraphBtn{
    -fx-background-image:url("../img/buttonX1.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#arcBtn{
    -fx-background-image:url("../img/buttonArc.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#menuToolbar{
    -fx-background-color: white
}
#clearSceneBtn{
    -fx-background-image:url("../img/clear.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#exportBtn{
   -fx-background-image:url("../img/export.png");
    -fx-background-repeat: stretch; 
    -fx-background-color:transparent
}
#importBtn{
   -fx-background-image:url("../img/import.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#saveBtn{
   -fx-background-image:url("../img/save.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#aboutBtn{
   -fx-background-image:url("../img/about.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#validateBtn{
   -fx-background-image:url("../img/validate.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}
#launchBtn{
    -fx-background-image:url("../img/run.png");
    -fx-background-repeat: stretch;
    -fx-background-color:transparent
}

#launchBtn:hover{
    -fx-background-color:gray  
}
#launchBtn:pressed{
    -fx-background-color:darkgray
}
#validateBtn:hover{
    -fx-background-color:gray  
}
#validateBtn:pressed{
    -fx-background-color:darkgray
}
#aboutBtn:hover{
    -fx-background-color:gray  
}
#aboutBtn:pressed{
    -fx-background-color:darkgray
}
#saveBtn:hover{
    -fx-background-color:gray  
}
#saveBtn:pressed{
    -fx-background-color:darkgray
}
#importBtn:hover{
    -fx-background-color:gray  
}
#importBtn:pressed{
    -fx-background-color:darkgray
}
#exportBtn:hover{
    -fx-background-color:gray  
}
#exportBtn:pressed{
    -fx-background-color:darkgray
}
#clearSceneBtn:hover{
    -fx-background-color:gray  
}
#clearSceneBtn:pressed{
    -fx-background-color:darkgray
}
